/* Светлая тема — принудительное переключение по классу */

:root.theme-light {
  --color-bg: #fff1f7;
  --color-text: #353430;
  --color-accent: #ff8dcb;
  --color-title: #ff8dcb;
  --color-decor-bg: #ff8dcb;
  --color-decor-text: #353430;
  --color-link-shadow: 2px 2px 0 #ff8dcb;
  --color-title-shadow: 4px 4px 0 #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__rec {
  display: none;
}

/* Светлая тема по системным настройкам */

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff1f7;
    --color-text: #353430;
    --color-accent: #ff8dcb;
    --color-title: #ff8dcb;
    --color-decor-bg: #ff8dcb;
    --color-decor-text: #353430;
    --color-link-shadow: 2px 2px 0 #ff8dcb;
    --color-title-shadow: 4px 4px 0 #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}
