:root {
  /* Цвета тёмной темы (основная) */
  --color-bg: #000028;
  --color-text: #f1b2ce;
  --color-accent: #ff0070;
  --color-title: #ff0070;
  --color-decor-bg: #ff0070;
  --color-decor-text: #000028;
  --color-link-shadow: 2px 2px 0 #ff0070;
  --color-title-shadow: 4px 4px 0 #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}
